/* Wrapper: zentriert über der Seite */
.toast-wrap {
  position: fixed;
  left: 50%;
  bottom: 20vh;
  transform: translateX(-50%);
  width: 326px;
  height: 74px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.1));
  z-index: 5000;
  /* <-- höher als Overlay */
}

/* Frame 73: eigentlicher Toast */
.toast {
  width: 326px;
  height: 74px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2A3647;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  border-radius: 20px;

  span {
    font-family: 'Inter', system-ui, Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
  }


  @keyframes mobileSlideInOut {
    0% {
      transform: translateY(500%);
    }

    15% {
      transform: translateY(0);
    }

    85% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(500%);
    }
  }

  @keyframes desktopSlideInOut {
    0% {
      transform: translateX(500%);
    }

    15% {
      transform: translateX(0);
    }

    85% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(500%);
    }
  }


  @media (max-width: 1100px) {

    animation: mobileSlideInOut 1.5s forwards;

  }

  @media (min-width: 1100px) {

    animation: desktopSlideInOut 2s forwards;

  }
}