.crud {
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-top: 400px;
    margin-bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 500px;
    background-color: #ebffab;

    p {
        font-size: 16px;
        color: #333;
        margin: 5px 0;
        color: #fff;

    }
}