* {
    font-family: 'Inter', sans-serif;
}

.board {
    padding-left: 232px;
    padding-top: 96px;
}

@media (max-width: 1350px) {
    .board {
        padding-left: 0px;
        padding-top: 80px;
    }
}