@use '../../styles/fonts' as *;
@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/themes' as *;

:root {
  // --bg: #f6f7f8;
  --dark: #2a3647;
  --blue: #29abe2;
  --gray: #a8a8a8;
  --border: #d1d1d1;
  --shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.board-page {
  width: 1440px;
  height: 1024px;
  background: var(--bg);
  overflow-y: auto;
  font-family: 'Inter', sans-serif;
  position: relative;
}

.board-content {
  padding-left: 232px;
  padding-top: 96px;
}

.board-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px;

  h1 {
    font-size: 61px;
    font-weight: 700;
  }

  .tools {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .search {
    display: flex;
    align-items: center;
    width: 312px;
    height: 48px;
    background: var(--white);
    border: 1px solid var(--gray);
    border-radius: 10px;
    padding: 8px 16px;

    input {
      flex: 1;
      border: none;
      outline: none;
      font-size: 20px;
      color: var(--gray);
    }

    .icon-search {
      width: 32px;
      height: 32px;
      background: var(--dark);
      border-radius: 4px;
      border: none;
    }
  }

  .btn-add {
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background: var(--dark);
    background-color: #2a3647;
    // color: var(--white);
    color: white;
    border: none;
    border-radius: 10px;
    height: 48px;
    padding: 8px 16px;
    font-family: 'Inter';
    font-size: 21px;
    font-weight: 700;
    cursor: pointer;
    img {
      background-color: transparent;
    }
  }
}

.board-columns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 26px;
  padding: 0 64px;
  // margin-top: 40px;
}

.column {
  width: 244px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      font: 700 20px/120% Inter, sans-serif;
      color: #42526e;
      font-size: 20px;
      // margin-bottom: 4px;
    }
    button {
      img {
        width: 24px;
      }
    }
  }

  .no-task {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #a8a8a8;
    border-radius: 10px;
    background: #e7e7e7;
    color: #a8a8a8;
    font-size: 16px;
  }

  .card {
    width: 252px;
    height: 244px;
    background: var(--white);
    border-radius: 24px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.08);
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .label {
      padding: 4px 16px;
      border-radius: 8px;
      font-size: 16px;
      color: #fff;

      &.blue {
        background: #0038ff;
      }

      &.green {
        background: #1fd7c1;
      }

      &.cyan {
        background: #00bee8;
      }
    }

    .title {
      font-size: 16px;
      font-weight: 700;
      color: var(--dark);
    }

    .text {
      font-size: 16px;
      color: #a8a8a8;
    }

    .progress {
      position: relative;
      height: 16px;
      margin-top: 4px;

      .bar {
        width: 128px;
        height: 8px;
        background: #f4f4f4;
        border-radius: 8px;
      }

      .fill {
        height: 8px;
        background: #4589ff;
        border-radius: 8px;
      }

      span {
        position: absolute;
        left: 139px;
        top: 0;
        font-size: 14px;
      }
    }
  }
}

.board-columns.board-added {
  gap: 24px;
}

.column .no-task {
  display: none;
}
