.tasktest {


    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    margin-top: 100px;
    margin-bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    height: 800px;
    background-color: #ffffff;

    p {
        font-size: 16px;
        color: #000000;
        margin: 5px 0;

    }

}